/* Media queries */
@media only screen and (max-width: 688px){
    .container {
    margin: 1em 2em;
      }
       
    .header-area{
        text-align: center;
        font-size: 10px;
        display: flex;
        justify-content: space-between;  

    }
    .top-section{
        position: relative;
        margin: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 420px;
        margin-left: 10px;

    }
       
    .right-area img{
        width: 80%;
        position: absolute;

    }
    .left-area {
        width: 100%;
        
    }
    .left-area h1{
        font-size: 38px;
        text-align: center;
    }
    .left-area p{
        text-align: center;
    }
    .btn{
        text-align: center;
        margin-left: 90px;
        font-size: 20px;
    }
    .right-area img{
        width: 80%;
    margin: 30px  
    } 
    .brand-logo{
    display: block;
    margin: 0px 0px ;
    text-align: center;
    }
    .brand-logo img{
    justify-content: center;
    padding: 10px 10px ;
    }
    .products-area{
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    }
    .extra-section, .exta-area-item {
        margin: 0px;
        width: 90%;
    }
}

/* tablat device */
@media only screen and (min-width:688px) and (max-width:992px){
    
     
       
    .header-area{
        text-align: center;
        font-size: 20px;
        display: flex;
        justify-content: space-between;  

    }
    
    .top-section{
        position: relative;
        margin: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 720px;
        margin-left: 10px;

        }
    .right-area img{
        width: 80%;
        position: absolute;
        margin-left: 80px;

    }
    .left-area {
        width: 100%;
        
    }
    .left-area h1{
        font-size: 68px;
        text-align: center;
    }
    .left-area p{
        text-align: center;
    }
    .btn{
        text-align: center;
        margin-left: 250px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    .right-area img{
    width: 80%;
    margin: 30px  
    }

    .brand-logo{
    display: block;
    margin: 0px 0px ;
    text-align: center;
    }
    .brand-logo img{
    justify-content: center;
    padding: 10px 10px ;
    }
    .products-area{
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-between;
    margin-left: 20px;
    }
    .see-more-btn{
        margin-left: 660px;
        margin-bottom: 20px;
    }
    .extra-section, .exta-area-item {
        margin: 0px;
        width: 93%;
    }
}



